.react-quill-toolbar .ql-container {
	border: 1px solid #000000; /* 全ての辺に対して枠線を設定 */
}  

.react-quill-toolbar .ql-toolbar {
	position: fixed;
	right: 0;
	width: 60px;
	z-index: 1000;
	background-color: #f4d6d6;
}

.react-quill-toolbar .ql-toolbar button{
  height: 40px; /* ボタンの高さを指定 */
  line-height: 20px; /* ラインの高さをボタンの高さに合わせる */
}

.react-quill-toolbar .ql-toolbar .ql-picker {
	height: 40px;
	width: 40px;
}

.react-quill-toolbar .ql-color-picker .ql-picker-options {
	position: absolute;
	right: 0; /* または必要に応じて調整 */
	z-index: 1001; /* ツールバーよりも上に表示されるように */
}